body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    background-image: url(https://th.bing.com/th/id/OIP.2xcD5l70l6fXK_3C3SohmAHaD6?rs=1&pid=ImgDetMain);
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    background-color: rgba(72, 70, 70, 0.969);
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}


h2 {
    color: #333;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

footer a{
    color: aquamarine;
}

@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
    }
    nav a {
        margin: 5px 0;
    }
}